.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ebe5de;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

.navbar-top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.navbar-logo img {
  height: 50px;
  width: auto;
}

.menu-icon {
  display: none;
  cursor: pointer;
  width: 18px;
  height: 18px;
  transition: transform 0.3s ease;
}

.menu-icon.active {
  transform: rotate(90deg);
}

.navbar-links ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.navbar-links ul li a {
  text-decoration: none;
  color: #707070;
}

.navbar-links ul li a:hover {
  text-decoration: none;
  color: #ac9586;
  font-weight: 500;
}

/* responsive section */
@media screen and (max-width: 768px) {
  .navbar-top {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .menu-icon {
    display: block;
    margin-bottom: 15px;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-icon {
    display: block;
    position: absolute;
    left: 20px;
    top: 60%;
    transform: translateY(-50%);
  }

  .navbar-links {
    position: absolute;
    top: 80px;
    width: 100%;
    background-color: #ebe5de;
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
  }

  .navbar-links.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  .navbar-links ul {
    flex-direction: column;
    align-items: center;
  }

  .navbar-links ul li {
    width: 100%;
    text-align: center;
    padding: 5px;
  }
}
